node_modules
.tmp
app/bower_components
app/api/vendor
.sass-cache
app/serverConfig/database.js
dist/serverConfig/database.js
app/serverConfig/emailSetup.js
dist/serverConfig/emailSetup.js
app/serverConfig/createTestDataPersonal.js
dist/serverConfig/createTestDataPersonal.js
