$white-background: #FFFFFF;
$elevation-blue: #0054C9;
$elevation-grey: #666666;
$font-color: #FFFFFF;
$button-hover: #004CB5;
$black-border: #000000;
$box-size: 25px;
$clndr-border: 1px solid #000;
$grey-button: #666666;
$grey-button-hover: #595959;
$default-red: #dd3c3c;
