@media #{$medium-up} {
  // ### TimeSheet View ###
  #timeSelector-view {
    .hours {
      height: 1.5em;
    }
    .medium-2 {
      width: 21.25% !important;
    }
    .medium-1 {
      width: 5% !important;
    }
    .medium-offset-1 {
      margin-left: 5% !important;
    }
  }
  // ### END ###
}
@media #{$small-only} {
  // ### TimeSheet View ###
  #clndr-view {
    margin-bottom: 1em;
  }
  #timeSelector-view {
    #timePickersWrapper {
      .morning {
        margin-bottom: 0.3em;
      }
      .hours {
        height: 3.3em;
        line-height: 1.15em;
        padding: 1.15em 0em;
      }
    }
    #buttonsWrapper {
      #submitTimeSheetPhoto {
        margin-bottom: 1em !important;
      }
    }
  }
  // ### END ###

  select, textarea, input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
  #headerBar-view {
    #contactPhone, #contactEmail {
      display: none;
    }
  }
  .reveal-modal {
    min-height: 0;
  }
  #footer {
    font-size: 0.5em;
  }
}